<!DOCTYPE html>
<html class="scroll-smooth" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="font-import.css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="tailwind-config.js"></script>
	<title>Admin Dashboard</title>
</head>

<body>

	<div w3-include-html="../AdminHeader.html"></div>
	<span class="bg-neutral-100 h-full flex flex-col items-start min-h-screen">

		<div w3-include-html="../Admin-SideBar.html"></div>
		<div class="self-stretch w-full mt-7 max-md:max-w-full">

			<div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
				<div class="flex flex-col items-stretch w-[20%] max-md:w-full max-md:ml-0">
				</div>
				<div class="flex flex-col items-stretch ml-5 w-[80%]">
					<span class="flex flex-col items-stretch px-5 w-full max-md:mt-7">
						<div
							class="text-black text-left text-3xl font-bold whitespace-nowrap ml-5 mt-20 mb-5 max-md:ml-2.5">
							Manage Products
						</div>
						<div
							class="items-stretch bg-white bg-opacity-80 flex flex-col pb-8 rounded-[30px] max-md:max-w-full">
							<div
								class="justify-start w-full bg-gray-200 flex gap-3 pl-6 pr-6 py-8 rounded-[30px] items-start max-md:flex-wrap max-md:px-5">
								
									<div class="text-black text-2xl font-semibold leading-9 w-[5%] text-center ">SKU</div>
									<div class="text-black text-2xl font-semibold leading-9 w-[36%] ">Product Name</div>
									<div class="text-black text-2xl font-semibold leading-9 w-[16%] text-center ">Category</div>
									<div class="text-black text-2xl font-semibold leading-9 w-[13%] text-center ">Inventory</div>
									<div class="text-black text-2xl font-semibold leading-9 w-[16%] text-center ">Unit Price (RM)</div>
									<div class="text-black text-2xl font-semibold leading-9 w-[10%] text-center ">Action</div>
							</div>


							<div th:each="product: ${products}"
								class="mt-2.5 justify-start w-full flex gap-3 pl-6 pr-6 items-start max-md:px-5">
									<div class="w-[5%] text-black text-2xl leading-9 my-auto whitespace-nowrap text-center ">
										<div th:text="${product.id}" />
									</div>
									<div
										class="w-[36%] text-black text-2xl leading-9 my-auto whitespace-nowrap overflow-auto ">
										<div th:text="${product.prodName}" />
									</div>
									<div class="w-[16%] text-black text-2xl leading-9 my-auto text-center ">
										<div th:text="${product.prodCategory}" />
									</div>
									<div
										class="w-[13%] text-black text-center text-2xl leading-9 self-center my-auto ">
										<div th:text="${product.prodQuantity}" />
									</div>
									<div
										class="w-[16%] text-black text-center text-2xl leading-9 self-center my-auto ">
										<div th:text="${product.prodUnitPrice}" />
									</div>
								<div class="w-[10%] flex-initial flex-col  flex justify-center items-center gap-1">
									<a th:href="@{/admin/editproduct/{id}(id=${product.id})}"
										class="w-24 text-white text-center text-xl leading-8 whitespace-nowrap bg-blue-500 rounded-xl">
										Edit
									</a>
									<a th:href="@{/admin/manageproduct/{id}(id=${product.id})}"
										class="w-24 text-white text-center text-xl leading-8 whitespace-nowrap justify-center bg-red-600 rounded-xl">
										Delete
									</a>
								</div>
							</div>
					</span>
				</div>
				<div class="text-black text-2xl font-medium self-center mt-32 mb-10 max-md:max-w-full max-md:mt-10">
					<span class="text-black">Copyright@2024</span>
					<span class="font-semibold text-black">Nestlé</span>
					<span class="text-black">- All rights reserved</span>
				</div>
			</div>
		</div>
	</span>

	<!-- To include other HTML files -->
	<script>
		function includeHTML() {
			var z, i, elmnt, file, xhttp;
			/* Loop through a collection of all HTML elements: */
			z = document.getElementsByTagName("*");
			for (i = 0; i < z.length; i++) {
				elmnt = z[i];
				/*search for elements with a certain atrribute:*/
				file = elmnt.getAttribute("w3-include-html");
				if (file) {
					/* Make an HTTP request using the attribute value as the file name: */
					xhttp = new XMLHttpRequest();
					xhttp.onreadystatechange = function () {
						if (this.readyState == 4) {
							if (this.status == 200) {elmnt.innerHTML = this.responseText;}
							if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
							/* Remove the attribute, and call this function once more: */
							elmnt.removeAttribute("w3-include-html");
							includeHTML();
						}
					}
					xhttp.open("GET", file, true);
					xhttp.send();
					/* Exit the function: */
					return;
				}
			}
		}
		includeHTML();
	</script>
</body>

</html>