<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<div
		class="items-center bg-neutral-950 self-stretch flex w-full flex-col justify-center px-16 py-12 max-md:max-w-full max-md:px-5">
		<span class="flex flex-col items-stretch mt-9 mb-10 max-md:max-w-full">
			<div
				class="text-neutral-100 text-center text-4xl font-semibold leading-[57px] capitalize max-md:max-w-full">
				Your Trusted Partner in Premium Snacks Supply
			</div>
			<div
				class="text-neutral-100 text-center text-4xl italic font-medium leading-[51px] self-center mt-8 max-md:max-w-full">
				“Quality, Variety, and Reliability.”
			</div>
		</span>
	</div>
</body>

</html>