<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="font-import.css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="tailwind-config.js"></script>
	<title>Order Request 1</title>
</head>

<body>
	<!-- CustHeader.html -->
	<div w3-include-html="CustHeader.html"></div>
	
	<div class="bg-neutral-100 h-[1500px] flex flex-col max-md:ml-2.5">
		<header class="text-neutral-400 text-lg font-medium leading-9 mt-10 ml-48 max-md:max-w-full">
			Home &gt; Product &gt; Chocolate &amp; Confectionery &gt; <span class=""> Feastables MrBeast Bar Original
				Chocolate 60g &gt; Order Request </span>
		</header>
		<div>
			<img loading="lazy" src="Images/OrderRequestProc1.png" alt="Product Picture"
				class="w-[800px] h[300px] object-cover object-center inset-0 my-5 mx-[430px]" />
		</div>
		<div class="bg-white h-[1200px] flex flex-col mt-0 max-md:ml-2.5 rounded shadow-md mx-40">
			<div class="w-full flex h-[1000px] mt-5">
				<!--left container for picture-->
				<div class="w-3/6 justify-center items-center max-md:ml-0  float-left mx-16">
					<div class="mt-10">
						<label for="name" class="text-lg font-bold">Name:*</label> <br />
						<input type="text" id="name" name="name" required value="    customer_name"
							class="border-2 h-[45px] w-[650px] rounded-md mt-2 text-neutral-400" />
					</div>
					<div class="mt-8">
						<label for="contact" class="text-lg font-bold">Contact Number:*</label> <br />
						<input type="text" id="contact" name="contact" required value="    contact_number"
							class="border-2 h-[45px] w-[650px] rounded-md mt-2 text-neutral-400" />
					</div>
					<div class="mt-8">
						<label for="email" class="text-lg font-bold">Email:*</label> <br />
						<input type="text" id="email" name="email" required value="    customer_email"
							class="border-2 h-[45px] w-[650px] rounded-md mt-2 text-neutral-400" />
					</div>
					<div class="mt-8">
						<label for="address" class="text-lg font-bold">Destination Address:*</label> <br />
						<select value="Select State" name="state" id="state"
							class="border-2 border-black h-[45px] w-[650px] rounded-md mt-2 text-black text-center my-2">
							<option value="none" class="text-base">Select State</option>
							<option value="Selangor" class="text-base">Selangor</option>
							<option value="Sabah" class="text-base">Sabah</option>
							<option value="Sarawak" class="text-base">Sarawak</option>
						</select>
						<select value="Select State" name="state" id="state"
							class="border-2 border-black h-[45px] w-[650px] rounded-md mt-2 text-black text-center my-2">
							<option value="none" class="text-base">Select City</option>
							<option value="Selangor" class="text-base">Kuala Lumpur</option>
							<option value="Sabah" class="text-base">Sepang</option>
							<option value="Sarawak" class="text-base">Cheras</option>
						</select>
					</div>
					<div class="my-2">
						<input type="text" id="code" name="code" required value="    Portal Code"
							class="border-2 h-[45px] w-[650px] rounded-md mt-2 text-neutral-400" />
					</div>
					<div class="my-2">
						<input type="text" id="street" name="street" required value="    Street"
							class="border-2 h-[45px] w-[650px] rounded-md mt-2 text-neutral-400" />
					</div>
					<div class="my-2">
						<input type="text" id="building" name="building" required value="    Building"
							class="border-2 h-[45px] w-[650px] rounded-md mt-2 text-neutral-400" />
					</div>
					<div class="mt-8">
						<label for="email" class="text-lg font-bold">Additional Notes:</label> <br />
						<input type="text" id="email" name="email" value=""
							class="border-2 h-[200px] w-[650px] rounded-md mt-2 text-neutral-400" />
					</div>
					<div
						class="w-[280px] h-[60px] rounded-md shadow-md  border-2 border-black text-center self-center mt-8 mb-16 mx-48">
						<div class="my-3 text-lg text-black font-bold"><a href="orderreq2">PLACE ORDER</a></div>
					</div>
				</div>
				<div class="w-2/5 justify-center items-center max-md:ml-0  float-left mx-10">
					<div class="h-[200px] w-2/5 justify-center items-center">
						<img loading="lazy" src="Images/FeastablesMrBeastBar.png" alt="Product Picture"
							class="object-cover object-center inset-0 mb-0 mx-28" />
					</div>
					<div class="h-[800px] mt-2">
						<div class="text-xl self-center stext-black font-bold mt-0 mb-3 mx-12">
							Feastables MrBeast Bar Original Chocolate 60g
						</div>
						<div class="text-lg text-neutral-400 mt-2 mb-3 mx-12">
							Candies & Sweets
						</div>
						<div class="text-lg text-black mt-3 mb-5 mx-12">
							stock: 100,000 boxes (40 pieces per box)
						</div>
						<div class="text-lg text-black mt-3 mb-32 ml-12 mr-24">
							<span class="float-left">Quantity: </span>
							<span class="float-right">x 100 </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- CustFooter.html -->
		<div w3-include-html="CustFooter.html"></div>

		<!-- To include other HTML files -->
		<script>
			function includeHTML() {
				var z, i, elmnt, file, xhttp;
				/* Loop through a collection of all HTML elements: */
				z = document.getElementsByTagName("*");
				for (i = 0; i < z.length; i++) {
					elmnt = z[i];
					/*search for elements with a certain atrribute:*/
					file = elmnt.getAttribute("w3-include-html");
					if (file) {
						/* Make an HTTP request using the attribute value as the file name: */
						xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function () {
							if (this.readyState == 4) {
								if (this.status == 200) { elmnt.innerHTML = this.responseText; }
								if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
								/* Remove the attribute, and call this function once more: */
								elmnt.removeAttribute("w3-include-html");
								includeHTML();
							}
						}
						xhttp.open("GET", file, true);
						xhttp.send();
						/* Exit the function: */
						return;
					}
				}
			}
			includeHTML();
		</script>

</body>

</html>