<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<style>
		@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
	</style>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="../../tailwind-config.js"></script>
	<title>Product Detail Page</title>
</head>

<body>
	<!-- CustHeader.html -->
	<div w3-include-html="../../CustHeader.html"></div>
	<form th:action="@{/home/product/{id} (id=${product.id})}" th:object="${product}" method="POST">
		<div class="bg-neutral-100 h-[2200px] flex flex-col max-md:ml-2.5">
			<div
				class="font-montserrat my-5 mx-48 flex flex-col h-[40px] text-neutral-400 text-lg text-left  max-md:ml-2.5">
				<p> Home > Product > <span th:text="${product.prodCategory}"></span> > <span
						th:text="${product.prodName}"></span></p>
			</div>
			<br />
			<!--Specific Product Box-->
			<div
				class="font-montserrat mb-[200px] mt-2 mx-40 flex flex-col h-full text-neutral-400 text-base text-left  max-md:ml-2.5">
				<div class="mb-2 text-black text-2xl font-semibold ">
					<span th:text="${product.prodName}"></span>
				</div>
				<br />
				<div class="bg-white h-[1800px] flex flex-col mt-0 max-md:ml-2.5 rounded shadow-md">
					<div class="w-full flex h-[700px] mt-5">
						<!--left container for picture-->
						<div class="h-[700px] w-3/6 justify-center items-center max-md:ml-0  float-left mx-10">
							<img loading="lazy" src="/Images/KokoKrunch.png" alt="Product Picture"
								class="object-cover object-center items-stretch w-[100%] h-[100%] inset-0" />
						</div>
						<div class="h-[700px] w-2/5 justify-center items-center max-md:ml-0  float-left mx-10">
							<div class="text-base text-neutral-400 mt-5 mb-3 ">
								<span th:text="${product.prodCategory}"></span>
							</div>
							<div class="text-2xl text-black my-3 ">
								<p>RM <span th:text="${product.prodUnitPrice}"></span></p>
							</div>
							<div class="text-base text-black mt-3 mb-10 ">
								<p>stock: <span th:text="${product.prodQuantity}"></span> boxes (<span
										th:text="${product.prodUnit}"></span> pieces per box)</p>
							</div>
							<br />
							<hr style="width: 100%; margin: auto; border: 2px solid #BBB;" />
							<div class="text-base text-black mt-3 mb-3 ">
								<span class="font-bold">Quantity </span>
								<span>min.order: </span>
								<span class="font-bold">100 boxes </span>
							</div>

							<form method="GET" th:action="@{/orderreq1/{id} (id=${book.id})}">

								<div class="text-xl text-black font-bold mt-3 mb-3 text-left w-full">
									<input type="button" value="-" onclick="minus()"
										class="w-[30px] h-[30px] border border-black float-left bg-black text-white text-xl" />
									<input id="num" name="num" value="100" onfocus="this.blur()"
										class="w-[50px] h-[30px] text-center text-lg border border-black float-left" />
									<input type="button" value="+" onclick="add()"
										class="w-[30px] h-[30px] border border-black float-left bg-black text-white text-xl" />
								</div>


								<div
									class="w-[280px] h-[60px] rounded-md shadow-md  border-2 border-black text-center self-center mt-16 mb-8">
									<div class="my-3 text-lg text-black font-bold">
										<button type="submit">REQUEST ORDER</button>
									</div>
							</form>
						</div>
						<div
							class="w-[280px] h-[60px] rounded-md shadow-md  border-2 border-black text-center self-center my-8">
							<div class="my-3 text-lg text-black font-bold"><a href="#">EMAIL SUPPLIER</a></div>
						</div>
						<div class="my-5 text-black">
							<div class="text-base font-bold">Shipping: </div>
							<div class="text-base underline inline"><a href="#">Contact supplier</a></div>
							<div class="text-base inline">for shopping details.</div>
						</div>
						<div class="my-5 text-black">
							<label class="text-base font-bold">Payment Options: </label>
								<p>Credit Card</p>
								<p>Debit Card</p>
								<p>TNG</p>
							</select>
						</div>
					</div>
				</div>
				<br>
				<div class="mx-40 my-10 flex flex-col h-[900px] ">
					<div class="w-full h-[50px] text-lg text-black font-bold text-center">
						Product Description:
					</div>
					<div class="text-lg text-black text-center">
						<span th:text="${product.prodDesc}"></span>
					</div>
	</form>
	<div class="w-full h-[50px] mt-10 mb-2 text-lg text-black font-bold text-center">
		Nutrition Facts
	</div>
	<div class="w-4/5 mx-32 flex flex-col text-lg text-black items-center text=center">
		<table>
			<tr class="font-bold">
				<th class="w-[200px] h-[50px] text-center border bg-violet-700 text-white">Nutrition
				</th>
				<th class="w-[200px] h-[50px] text-center border bg-violet-700 text-white">Content</th>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Total Calories</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">170</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Total Fat</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">11g</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Saturated Fat</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">7g</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Trans Fat</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">0g</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Cholesterol</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">0mg</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Sodium</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">0mg</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Total Carbonhydrate</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">17g</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Dietary Fiber</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">2g</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Total Sugars</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">14g</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Protein</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">2g</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">IncI Added Sugars</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">13g</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Vitamin D</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">0%</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Calcium</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">0%</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Iron</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">4%</td>
			</tr>
			<tr>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">Potassium</td>
				<td class="w-[200px] h-[40px] text-center border bg-violet-100">2%</td>
			</tr>
		</table>
	</div>
	</div>
	</div>
	</div>


	<!-- CustFooter.html -->
	<div w3-include-html="../../CustFooter.html"></div>

	<!-- To include other HTML files -->
	<script>
		var num = document.getElementById("num");
		quantity = toString(num.value);

		const object = {quant: quantity};
		alert(quantity);

		const objectString = JSON.stringify(object);

		localStorage.setItem('quantityObject', objectString); 
	</script>
	<script>
		function add() {
			var num = document.getElementById("num");
			num = ++num.value;
		}
		function minus() {
			var num = document.getElementById("num");
			if (num.value > 100) {
				num = --num.value;
			}
		}
	</script>
	<script>
		function includeHTML() {
			var z, i, elmnt, file, xhttp;
			/* Loop through a collection of all HTML elements: */
			z = document.getElementsByTagName("*");
			for (i = 0; i < z.length; i++) {
				elmnt = z[i];
				/*search for elements with a certain atrribute:*/
				file = elmnt.getAttribute("w3-include-html");
				if (file) {
					/* Make an HTTP request using the attribute value as the file name: */
					xhttp = new XMLHttpRequest();
					xhttp.onreadystatechange = function () {
						if (this.readyState == 4) {
							if (this.status == 200) {elmnt.innerHTML = this.responseText;}
							if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
							/* Remove the attribute, and call this function once more: */
							elmnt.removeAttribute("w3-include-html");
							includeHTML();
						}
					}
					xhttp.open("GET", file, true);
					xhttp.send();
					/* Exit the function: */
					return;
				}
			}
		}
		includeHTML();
	</script>
</body>

</html>